.codeblock, code, pre, .md-code {
  @extend %code-block;

  a {
    color: var(--accent-color);
  }
}

pre {
  overflow-x: scroll;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  padding: 1rem;

  &.shiki {
    background-color: var(--code-bg-color) !important;
    margin-bottom: 1rem;
  }

  code {
    padding: 0;
    background-color: transparent !important;
  }
}

div[class*="language-"] {
  position: relative;
  background-color: var(--bg-darker-color);

  &::before {
    position: absolute;
    z-index: 3;
    top: 1rem;
    right: 1rem;
    font-size: 0.75rem;
    color: var(--gray-3-color);
  }
}

div[class~="language-json"] {
  &:before {
    content: "JSON";
  }
}

div[class~="language-js"] {
  &:before {
    content: "JavaScript";
  }
}

div[class~="language-ts"] {
  &:before {
    content: "TypeScript";
  }
}

div[class~="language-graphql"] {
  &:before {
    content: "GraphQL";
  }
}

div[class~="language-html"] {
  &:before {
    content: "html";
  }
}
