.codeblock, code, pre, .md-code {
  @extend %code-block;

  a {
    color: var(--accent-color);
  }
}

pre {
  overflow-x: scroll;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  padding: 1rem;

  &.shiki {
    background-color: var(--code-bg-color) !important;
    margin-bottom: 1rem;
  }

  code {
    padding: 0;
    background-color: transparent !important;
  }
}
