.codeblock, code, pre, .md-code {
  @extend %code-block;

  a {
    color: var(--accent-color);
  }
}

pre {
  overflow-x: scroll;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  padding: 1rem;

  &.shiki {
    background-color: var(--code-bg-color) !important;
  }

  code {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent !important;
  }
}

div[class*="language-"] {
  position: relative;

  &::before {
    position: absolute;
    z-index: 3;
    top: 0.5em;
    right: 0.7em;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.4);
  }
}

div[class~="language-json"] {
  &:before {
    content: "json";
  }
}

div[class~="language-js"] {
  &:before {
    content: "javascript";
  }
}

div[class~="language-ts"] {
  &:before {
    content: "typescript";
  }
}

div[class~="language-graphql"] {
  &:before {
    content: "graphql";
  }
}

div[class~="language-html"] {
  &:before {
    content: "html";
  }
}
