.custom-block {
  @extend %blockquote;

  * {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .custom-block-title {
    font-weight: bold;
    font-size: 16px;
  }

  p {
    &::before,
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &.tip {
    border: none;
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  &.warning {
    border: none;
    background-color: var(--yellow-color);
    color: var(--dark-color);

    a {
      color: var(--dark-color);
    }
  }
}
