// Model Properties of a page
#model-properties {
  &.none {
    position: relative;

    &::after {
      content: "No Available Properties";
      position: absolute;
      top: 6rem;
      left: 0;
      font-size: 1rem;
      color: var(--gray-color);
    }

    & ~ * {
      display: none;
    }
  }

  & ~ .custom-block {
    margin-bottom: 1rem;
    margin-top: 0;
  }
}

// Table of contents
.table-of-contents {
  & > ul,
  & > ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;

    li {
      grid-column: span 1;

      a.tag {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 100%;
          margin-left: 8px;
          font-size: 1rem;
        }
      }

      a.deprecated {
        color: var(--true-gray-color);
        text-decoration: line-through;

        &::after {
          content: "⚠️";
        }
      }

      a.new {
        &::after {
          content: "🎉";
        }
      }
    }
  }
}

#mtgjson-changelog,
#mtggraphql-changelog {
  & ~ h4 {
    font-size: 1rem;
  }
}

#brand-assets {
  & ~ .language-html {
    pre {
      code {
        white-space: pre-wrap;
      }
    }
  }
}

// Reset TOC to regular layout on certain pages with less items
#getting-started,
#frequently-asked-questions {
  & ~ .table-of-contents {
    ul {
      display: block;
    }
  }
}

// Team on Homepage
#mtgjson {
  & ~ .team-wrapper {
    img {
      background-color: var(--bg-2-color);
    }

    & > .custom-block:first-of-type {
      margin-top: 0;
    }
  }
}
@media (max-width: 960px) {
  #mtgjson {
    & ~ .team-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;

      & > * {
        margin: 0;
      }

      & > .custom-block:first-of-type {
        margin-top: 0;
      }

      .custom-block.tip {
        .custom-block-title {
          text-align: center;
        }

        strong {
          text-align: center;
          display: block;
          margin-bottom: 1rem;
        }

        img {
          display: block;
          float: none;
          margin: 0 auto 1rem;
        }
      }
    }
  }
}
