%code-block {
  font-family: var(--font-monospace);
  font-size: var(--vp-code-font-size);
  background-color: var(--code-bg-color);
  color: var(--vp-c-text-code);
  border-radius: var(--common-radius) !important;
  line-height: 1.25rem;
  padding: 0.25rem 0.5rem !important;
  margin: 0;
  word-break: break-word;
  font-weight: bold;
}
