.sidebar-group-items,
.sidebar-sub-headers {
  .sidebar-link {
    font-size: 1rem;
    font-weight: normal;

    &.active {
      position: relative;
      color: var(--accent-color);
    }
  }
}

.sidebar-link[href="/mtggraphql/"],
.sidebar-link[href="/data-models/sealed-product/"] {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    display: block;
    border-radius: var(--common-radius);
    color: var(--dark-color);

    @extend %code-block;
  }
}
.sidebar-link[href="/mtggraphql/"] {
  &::after {
    content: "beta";
    background-color: var(--yellow-color);
    right: -55px;
  }
}
.sidebar-link[href="/data-models/sealed-product/"] {
  &::after {
    content: "new";
    background-color: var(--green-color);
    right: -50px;
  }
}
