@import 'https://cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css';

@import './vars';
@import './reset';
@import './custom-blocks';
@import './typography';
@import './placeholders';
@import './sidebar';
@import './code';
@import './pages';

html, body {
  min-width: 320px;
}

html, body, #app, .theme-container {
  height: 100%;

  @media (max-width: 719px) {
    html, body, #app, .theme-container {
      height: auto;
    }
  }
}

body {
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

ol, ul {
  margin-left: 1rem;

  &:empty {
    margin: 0;
  }

  li {
    list-style: disc;
  }

  ol, ul {
    li {
      list-style: circle;
    }
  }
}

a {
  text-decoration: underline;

  &:hover,
  &.sidebar-link,
  &.sidebar-heading {
    text-decoration: none;
  }

  &.sidebar-link,
  &.sidebar-heading {
    display: inline;
  }

  &.header-anchor {
    opacity: 0;
    margin-left: -0.9em;
  }

  span {
    display: inline-block;
  }
}

small {
  font-size: 14px;
  line-height: 1rem;
}

.no-result {
  color: var(--accent-color);
}

hr {
  border: 0;
  border-top: 1px solid var(--table-border-color);
}

em {
  font-style: italic;
}

img {
  user-select: none;

  &.avatar {
    max-width: 100px !important;
    border-radius: 100%;
    float: left;
    margin-right: 2rem;
  }

  &[alt='logo'] {
    max-width: 275px !important;
    margin-left: 0;
  }

  &.img-license {
    max-width: 100px;
    height: auto;
    margin-bottom: 1rem;
  }
}

// Property blocks
blockquote {
  @extend %blockquote;

  &:first-of-type {
    margin-top: 0;
  }

  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &.warning {
    background-color: var(--blockquote-warning-bg-color);
    color: var(--blockquote-warning-text-color);

    a {
      color: var(--blockquote-warning-text-color);
    }
  }

  .small-header {
    padding-bottom: 0;
  }

  h3 {
    padding-top: 0;
  }

  p {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  i.optional,
  i.deprecated,
  i.preview,
  i.new {
    background-color: var(--light-color);
    color: var(--dark-color);

    @extend %code-block;
  }

  i.preview {
    background-color: var(--true-accent-1-color);
  }

  i.optional {
    background-color: var(--yellow-color);
  }

  i.deprecated {
    background-color: var(--red-color);
  }

  i.new {
    background-color: var(--green-color);
  }

  i {
    margin-right: 0.5rem !important;

    &:last-of-type {
      margin-right: 0 !important;
    }
  }

  ul {
    margin-bottom: 0;
    margin-top: 1rem;

    & > li {
      margin: 0 0 0.5rem;

      &:empty {
        margin: 0;
        list-style: none;
      }
    }

    li {
      list-style: disc;

      p {
        width: 100%;
      }

      strong {
        margin-right: 0.25rem;
      }

      pre {
        margin-bottom: 0;
      }
    }
  }

  pre {
    margin-bottom: 0;
  }
}

// Call to action buttons
.cta-btn {
  display: inline-block;
  vertical-align: center;
  padding: 0.75rem 1rem;
  border-radius: var(--common-radius);
  border: 1px solid var(--accent-color);
  text-decoration: none;
  transition: all 0.25s;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-decoration: none !important;
  background-color: transparent;
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
  }
}

// Images for links
.link {
  &-inline-image {
    display: inline-flex;
    padding-right: 1.5rem;
    background-size: 1rem 1rem;
    background-position: right center;
    background-repeat: no-repeat;

    &.paypal {
      background-image: url('/images/icon-paypal.svg');
    }

    &.patreon {
      background-image: url('/images/icon-patreon.svg');
    }

    &.github {
      background-image: url('/images/icon-github.svg');
    }
  }
}

// Accent color class
.accent {
  color: var(--accent-color);
}

// Spoiler attribute tag
.spoiler {
  background-color: var(--yellow-color);
  color: var(--dark-color);
  margin-right: 5px;

  @extend %code-block;
}

// Hide/Show elements
.desktop-hide {
  display: none !important;
}
@media (max-width: 719px) {
  .desktop-hide {
    display: block !important;
  }

  .mobile-hide {
    display: none !important;
  }
}
