@import 'https://cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css';

@import './vars';
@import './reset';
@import './custom-blocks';
@import './typography';
@import './placeholders';
@import './sidebar';
@import './code';
@import './blockquote';
@import './pages';
@import './plugins';

html, body {
  min-width: 320px;
}

html, body, #app, .theme-container {
  height: 100%;

  @media (max-width: 719px) {
    html, body, #app, .theme-container {
      height: auto;
    }
  }
}

body {
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

ol, ul {
  margin-left: 1rem;

  &:empty {
    margin: 0;
  }

  li {
    list-style: disc;
  }

  ol, ul {
    li {
      list-style: circle;
    }
  }
}

a {
  text-decoration: underline;

  &:hover,
  &.sidebar-link,
  &.sidebar-heading {
    text-decoration: none;
  }

  &.sidebar-link,
  &.sidebar-heading {
    display: inline;
  }

  &.header-anchor {
    opacity: 0;
    margin-left: -0.9em;
  }

  span {
    display: inline-block;
  }
}

small {
  font-size: 14px;
  line-height: 1rem;
}

.no-result {
  color: var(--accent-color);
}

hr {
  border: 0;
  border-top: 1px solid var(--table-border-color);
}

em {
  font-style: italic;
}

img {
  user-select: none;

  &.avatar {
    max-width: 100px !important;
    border-radius: 100%;
    float: left;
    margin-right: 2rem;
  }

  &[alt='logo'] {
    max-width: 275px !important;
    margin-left: 0;
  }

  &.img-license {
    max-width: 100px;
    height: auto;
    margin-bottom: 1rem;
  }
}

// iframes
.doc-iframe {
  margin: 1rem 0;
  border-radius: var(--common-radius);
  overflow: hidden;

  &.graphql-playground {
    margin-bottom: 0;
  }
}

// Call to action buttons
.cta-btn {
  display: inline-block;
  vertical-align: center;
  padding: 0.75rem 1rem;
  border-radius: var(--common-radius);
  border: 1px solid var(--accent-color);
  text-decoration: none;
  transition: all 0.25s;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-decoration: none !important;
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
  }
}

// Images for links
.link {
  &-inline-image {
    display: inline-flex;
    padding-right: 1.5rem;
    background-size: 1rem 1rem;
    background-position: right center;
    background-repeat: no-repeat;

    &.paypal {
      background-image: url('/images/icon-paypal.svg');
    }

    &.patreon {
      background-image: url('/images/icon-patreon.svg');
    }

    &.github {
      background-image: url('/images/icon-github.svg');
    }
  }
}

// Accent color class
.accent {
  color: var(--accent-color);
}

// Hide/Show elements
.hidden-property-siblings {
  & ~ blockquote {
    display: none !important;
  }
}
.hidden,
.desktop-hide {
  display: none !important;
}

@media (max-width: 719px) {
  .theme-container {
    &.sidebar-open {
      .sidebar {
        transform: translateX(0);
        border-right: 1px solid var(--bg-border-color);
      }
    }
  }

  .desktop-hide {
    display: block !important;
  }

  .mobile-hide {
    display: none !important;
  }
}
