:root {
  // True colors, not to be changed later
  --accent-color: #1e90ff;
  --accent-1-color: #092d50;
  --accent-2-color: #daecfe;
  --accent-3-color: #1762ae;
  --yellow-color: #FFCB6B;
  --yellow-1-color: goldenrod;
  --yellow-2-color: #feffdb;
  --yellow-3-color: #d7d28d;
  --green-color: palegreen;
  --green-1-color: green;
  --green-2-color: #e0ffe1;
  --green-3-color: #203f22;
  --red-color: salmon;
  --red-1-color: red;
  --orange-color: darkorange;
  --orange-1-color: tomato;
  --white-color: #ffffff;
  --gray-color: #f9f9f9;
  --gray-1-color: #eeeeee;
  --gray-2-color: #eaecef;
  --gray-3-color: #bababa;
  --gray-4-color: #2d2d2d;
  --gray-5-color: #676767;
  --dark-color: #263646;
  --dark-1-color: #0f1a23;
  --dark-2-color: #0e141f;
  --dark-2-alpha-color: rgba(12, 16, 20, 0.5);
  --black-color: #000000;

  // Sorter
  --sort-box-shadow-color: var(--white-color);

  // Search Component
  --search-bg-color: var(--vp-c-bg);
  --search-bg-hover-color: var(--vp-c-bg-alt);
  --search-border-color: var(--vp-input-border-color);
  --search-text-color: var(--vp-c-text);
  --search-results-max-height: 400px;
  --search-height: 34px;

  // Selects
  --select-bg-color: var(--white-color);
  --select-border-color: var(--vp-c-divider);
  --select-text-color: var(--dark-color);

  // Inputs
  --input-border-color: var(--vp-c-divider);

  // Data Presentation
  --code-bg-color: var(--gray-4-color);
  --code-text-color: var(--yellow-color);

  // Supporters
  --supporter-bg-color: var(--white-color);
  --supporter-mythic-color: var(--red-color);
  --supporter-rare-color: var(--yellow-color);
  --supporter-uncommon-color: var(--white-color);

  // Version
  --version-color: var(--gray-4-color);

  // Misc
  --common-radius: 8px;

  // VitePress overrides
  --vp-c-brand: var(--accent-color);
  --vp-c-brand-1: var(--accent-color);
  --vp-c-brand-2: var(--accent-color);
  --vp-c-brand-light: var(--accent-color);
  --vp-c-brand-lighter: var(--accent-color);
  --vp-c-brand-dark: var(--accent-color);
  --vp-c-brand-darker: var(--accent-color);
  --vp-c-text-code: var(--yellow-color);

  --vp-input-switch-bg-color: var(--vp-c-bg-alt);

  --vp-custom-block-tip-bg: var(--accent-2-color);
  --vp-custom-block-tip-border: var(--accent-color);
  --vp-custom-block-warning-bg: var(--yellow-2-color);
  --vp-custom-block-warning-border: var(--yellow-color);
  --vp-custom-block-details-border: var(--gray-2-color);
  --vp-custom-block-details-bg: var(--gray-color);

  --vp-badge-tip-border: var(--accent-color);
  --vp-badge-tip-text: var(--accent-color);
  --vp-badge-tip-bg: transparent;
  --vp-badge-info-border: var(--orange-color);
  --vp-badge-info-text: var(--orange-color);
  --vp-badge-info-bg: transparent;
  --vp-badge-warning-border: var(--yellow-1-color);
  --vp-badge-warning-text: var(--yellow-1-color);
  --vp-badge-warning-bg: transparent;
  --vp-badge-danger-border: var(--red-1-color);
  --vp-badge-danger-text: var(--red-1-color);
  --vp-badge-danger-bg: transparent;

  --vp-code-font-size: 12px;
}

html.dark {
  // Selects
  --select-bg-color: var(--dark-color);
  --select-border-color: var(--black-color);
  --select-text-color: var(--white-color);

  // Sorter
  --sort-box-shadow-color: var(--dark-1-color);

  // Inputs
  --input-border-color: var(--black-color);

  // Version
  --version-color: var(--gray-3-color);

  // Vitepress overrides
  --vp-c-bg-elv: var(--dark-2-color);
  --vp-c-bg-alt: var(--dark-2-color);
  --vp-c-bg: var(--dark-1-color);
  --vp-c-bg-soft: var(--dark-2-color);
  --vp-backdrop-bg-color: var(--dark-2-alpha-color);

  --vp-custom-block-tip-bg: var(--accent-1-color);
  --vp-custom-block-tip-text: var(--white-color);
  --vp-custom-block-tip-border: var(--accent-3-color);
  --vp-custom-block-warning-bg: var(--yellow-3-color);
  --vp-custom-block-warning-border: var(--yellow-color);
  --vp-custom-block-warning-text: var(--dark-color);
  --vp-custom-block-details-border: var(--dark-color);
  --vp-custom-block-details-bg: var(--dark-2-color);

  // --vp-badge-info-border: var(--orange-color);
  // --vp-badge-info-text: var(--orange-color);
  --vp-badge-warning-border: var(--yellow-color);
  --vp-badge-warning-text: var(--yellow-color);
  --vp-badge-danger-border: var(--red-color);
  --vp-badge-danger-text: var(--red-color);
}
