:root {
  // Fonts
  --font-base: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
  --font-monospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  // Sizes
  --sidebar-width: 280px;
  --navbar-height: 5rem;
  --content-width: 800px;
  --search-results-max-height: 400px;
  --common-radius: 0.5rem;
  --common-padding: 0.5rem;
  --toggle-container-width: 50px;
  --toggle-size: calc(var(--toggle-container-width) / 2);

  // True colors, not to be changed
  --white-color: #ffffff;
  --black-color: #000000;
  --yellow-color: #fcd253;
  --yellow-darker-color: #ad850e;
  --yellow-dark-color: #3c330c;
  --yellow-dark-2-color: #ffda372d;
  --green-color: rgb(121, 211, 121);
  --red-color: salmon;
  --orange-color: #ef6c2f;
  --discord-color: #7289da;
  --patreon-color: #f96753;
  // Fix this
  --true-accent-light-color: #85d3ff;
  --true-accent-dark-color: #1e90ff;
  --true-accent-1-color: var(--true-accent-dark-color);
  --true-accent-2-color: var(--true-accent-dark-color);
  --true-gray-color: #f9f9f9;
  --true-gray-1-color: #eeeeee;

  // Main colors
  --light-color: var(--white-color);

  --gray-color: var(--true-gray-color);
  --gray-1-color: var(--true-gray-1-color);
  --gray-2-color: #eaecef;
  --gray-3-color: #bababa;
  --gray-4-color: #2d2d2d;
  --gray-5-color: #676767;

  --dark-color: #263646;
  --dark-1-color: #0f263c;
  --dark-2-color: #0e141f;
  --dark-3-color: var(--black-color);

  --header-border-color: var(--dark-color);

  // Main colors
  --accent-color: var(--true-accent-1-color);
  --text-color: var(--light-color);
  --bg-color: var(--dark-1-color);
  --bg-darker-color: var(--dark-2-color);
  --bg-border-color: var(--dark-2-color);
  --shadow-color: var(--dark-3-color);
  --blockquote-heading-color: var(--dark-color);
  --blockquote-bg-color: var(--dark-1-color);
  --blockquote-warning-bg-color: var(--yellow-color);
  --blockquote-warning-text-color: var(--dark-color);

  // Search
  --search-bg-color: var(--dark-2-color);
  --search-item-highlight-color: var(--accent-color);
  --search-text-color: var(--text-color);

  // Data Presentation
  --table-color: var(--bg-color);
  --table-heading-color: var(--dark-1-color);
  --table-bg-color: var(--dark-color);
  --table-border-color: var(--dark-color);
  --code-bg-color: var(--gray-4-color);
  --code-text-color: var(--yellow-color);

  // Misc
  --spoiler-color: var(--yellow-color);
  --spoiler-text-color: var(--dark-3-color);
  --attribute-standard-color: var(--text-color);
  --light-only-dark: var(--dark-1-color);
  --supporter-bg-color: var(--light-color);
  --supporter-mythic-color: var(--orange-color);
  --supporter-rare-color: var(--yellow-color);
  --supporter-uncommon-color: var(--gray-3-color);
  --version-color: var(--gray-3-color);
}

body {
  // Set base theme CSS
  background-color: var(--dark-2-color);
  color: var(--text-color);

  &.light {
    // Main colors
    --accent-color: var(--true-accent-2-color);
    --text-color: var(--dark-1-color);
    --bg-color: var(--light-color);
    --bg-darker-color: var(--gray-1-color);
    --bg-border-color: var(--gray-1-color);
    --gray-color: var(--gray-4-color);
    --shadow-color: var(--gray-2-color);
    --blockquote-heading-color: var(--gray-2-color);
    --blockquote-bg-color: var(--light-color);
    --blockquote-warning-bg-color: var(--yellow-color);
    --blockquote-warning-text-color: var(--dark-color);

    // Search
    --search-bg-color: var(--gray-2-color);
    --search-border-color: var(--gray-2-color);
    --search-border-highlight-color: var(--accent-color);
    --search-text-color: var(--text-color);

    // Data Presentation
    --table-color: var(--text-color);
    --table-bg-color: var(--light-color);
    --table-border-color: var(--gray-2-color);
    --table-heading-color: var(--light-color);
    --code-bg-color: var(--gray-4-color);
    --code-text-color: var(--yellow-color);

    // Misc
    --spoiler-color: var(--yellow-dark-2-color);
    --spoiler-text-color: var(--yellow-darker-color);
    --supporter-bg-color: var(--gray-2-color);
    --supporter-rare-color: var(--yellow-darker-color);
    --attribute-standard-color: var(--dark-color);
    --header-border-color: var(--gray-3-color);
    --version-color: var(--gray-5-color);

    // Set base theme CSS
    background-color: var(--gray-1-color);
    color: var(--text-color);
  }
}
