:root {
  // True colors, not to be changed
  --accent-color: #1e90ff;
  --yellow-color: #fcd253;
  --red-color: salmon;
  --white-color: #ffffff;
  --gray-color: #f9f9f9;
  --gray-1-color: #eeeeee;
  --gray-2-color: #eaecef;
  --gray-3-color: #bababa;
  --gray-4-color: #2d2d2d;
  --gray-5-color: #676767;
  --dark-color: #263646;
  --dark-1-color: #0f1a23;
  --dark-2-color: #0e141f;
  --dark-2-alpha-color: rgba(12, 16, 20, 0.5);
  --black-color: #000000;

  // Search Component
  --search-bg-color: var(--vp-c-bg);
  --search-bg-hover-color: var(--vp-c-bg-alt);
  --search-border-color: var(--vp-input-border-color);
  --search-text-color: var(--vp-c-text);
  --search-results-max-height: 400px;
  --search-height: 36px;

  // Select Component
  --select-bg-color: var(--white-color);
  --select-border-color: var(--vp-c-divider);
  --select-text-color: var(--dark-color);

  // Data Presentation
  --code-bg-color: var(--gray-4-color);
  --code-text-color: var(--yellow-color);

  // Supporters
  --supporter-bg-color: var(--white-color);
  --supporter-mythic-color: var(--red-color);
  --supporter-rare-color: var(--yellow-color);
  --supporter-uncommon-color: var(--white-color);

  // Version
  --version-color: var(--gray-4-color);

  // Misc
  --common-radius: 11px;

  // VitePress overrides
  --vp-c-brand: var(--accent-color);
  --vp-c-brand-light: var(--accent-color);
  --vp-c-brand-lighter: var(--accent-color);
  --vp-c-brand-dark: var(--accent-color);
  --vp-c-brand-darker: var(--accent-color);
  --vp-c-text-code: var(--yellow-color);
  --vp-c-mute: var(--code-bg-color);
  --vp-input-switch-bg-color: var(--vp-c-bg-alt);
  --vp-code-font-size: 12px;
}

html.dark {
  // Vitepress overrides
  --vp-c-bg-elv: var(--dark-2-color);
  --vp-c-bg-alt: var(--dark-2-color);
  --vp-c-bg: var(--dark-1-color);
  --vp-c-bg-soft: var(--dark-2-color);
  --vp-custom-block-info-bg: var(--dark-2-color);
  --vp-backdrop-bg-color: var(--dark-2-alpha-color);

  // Select Component
  --select-bg-color: var(--dark-color);
  --select-text-color: var(--white-color);

  // Version
  --version-color: var(--gray-3-color);
}
