i.set {
  height: 2em;
  width: 2em;
  display: inline-block;
  background-repeat: no-repeat;
  margin-top: 2em;
}

.entry-content a {
  text-decoration: none;
  border: 1px solid;
  background-color: green;
  padding: 0.25em 0.625em;
  border-radius: 0.5em;
  color: white;
}

i.fas {
  display: inline-block;
}