.cta-btn, .repo-link, .nav-link {
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
  font-weight: bold;
  padding: 6px 15px;
  border-radius: 5px;

  &:link, a {
    text-decoration: none !important;
  }
}

.sidebar, .navbar {
  .nav-links {
    .nav-item {
      display: inline-flex;

      a {
        position: relative;
        font-size: 12px;
        padding-left: 35px !important;
        color: var(--light-color) !important;

        &::before {
          content: '';
          height: 18px;
          width: 18px;
          position: absolute;
          left: 10px;
          top: 9px;
          background-size: contain;
        }

        &:hover {
          opacity: 1;
        }
      }

      &:nth-of-type(1) { // Github
        a {
          background-color: black/*#24292e*/ !important;
          &::before {
            background-image: url('/images/github-logo.svg');
          }
        }
      }

      &:nth-of-type(2) { // Discord
        a {
          background-color: #7289da !important;

          &::before {
            background-image: url('/images/discord-logo.svg');
          }
        }
      }

      &:nth-of-type(3) { // Patreon
        a {
          background-color: #f96753 !important;

          &::before {
            background-image: url('/images/patreon-logo.svg');
          }
        }
      }
    }
  }
}