.codeblock, code, pre, .md-code {
  @extend %code-block;

  a {
    color: var(--accent-color);
  }
}

pre {
  &[class*="language-"] {
    padding-top: .75em
  }

  code {
    padding-left: 0;
    padding-right: 0;
  }
}
