.codeblock, code, pre, .md-code, .values-list--code, .code-wrap {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 12px;
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  border-radius: 5px;
  line-height: 2.7em;
  padding: 7px 10px;
  margin: 0;
}

.codeblock, pre, code, kbd, .line-number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div[class*='language-'] {
  position: relative;
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  border-radius: 5px;

  .highlight-lines {
    user-select: none;
    padding-top: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1.4;

    .highlighted {
      background-color: rgba(0, 0, 0, 66%);
    }
  }

  code, pre, pre[class*='language-'] {
    position: relative;
    z-index: 1;

    code, pre {
      padding: 0;
      line-height: 1.7em;
    }
  }

  &::before {
    position: absolute;
    z-index: 3;
    top: 0.8em;
    right: 1em;
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.4);
  }

  &:not(.line-numbers-mode) {
    .line-numbers-wrapper {
      display: none;
    }
  }

  &.line-numbers-mode {
    .highlight-lines .highlighted {
      position: relative;

      &:before {
        content: ' ';
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        display: block;
        width: var(--line-numbers-widt);
        height: 100%;
        background-color: rgba(0, 0, 0, 66%);
      }
    }

    pre {
      padding-left: (var(--line-numbers-widt) + 1)rem;
      vertical-align: middle;
    }

    .line-numbers-wrapper {
      position: absolute;
      top: 0;
      width: var(--line-numbers-widt);
      text-align: center;
      color: rgba(255, 255, 255, 0.3);
      padding: 1.25rem 0;
      line-height: 1.4;

      br {
        user-select: none;
      }

      .line-number {
        position: relative;
        z-index: 4;
        user-select: none;
        font-size: 0.85em;
      }
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: var(--line-numbers-widt);
      height: 100%;
      border-radius: 5px 0 0 5px;
      border-right: 1px solid rgba(0, 0, 0, 66%);
      background-color: var(--code-bg-color);
    }
  }
}

// for lang in $codeLang {
//   div{'[class~="language-' + lang + '"]'} {
//     &:before {
//       content: '' + lang;
//     }
//   }
// }

div[class~='language-javascript'] {
  &:before {
    content: 'js';
  }
}

div[class~='language-typescript'] {
  &:before {
    content: 'ts';
  }
}

div[class~='language-markup'] {
  &:before {
    content: 'html';
  }
}

div[class~='language-markdown'] {
  &:before {
    content: 'md';
  }
}

div[class~='language-json']:before {
  content: 'json';
}

div[class~='language-ruby']:before {
  content: 'rb';
}

div[class~='language-python']:before {
  content: 'py';
}

div[class~='language-bash']:before {
  content: 'sh';
}

div[class~='language-php']:before {
  content: 'php';
}
