.codeblock, code, pre, .md-code, .values-list--code, .code-wrap a {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 12px;
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  border-radius: 5px;
  line-height: 2.7em;
  padding: 7px 10px;
  margin: 0;
  word-break: word;

  a {
    color: var(--accent-color);
  }
}

.code-wrap a {
  color: var(--accent-color);
}

.codeblock, pre, code, kbd, .line-number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
