.codeblock, code, pre, .md-code {
  font-family: var(--font-monospace);
  font-family: var(--font-monospace);
  font-size: 12px;
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  border-radius: 5px;
  line-height: 2rem;
  padding: 0 10px;
  margin: 0;
  word-break: break-word;
  font-weight: bold;

  a {
    color: var(--accent-color);
  }
}
