blockquote, .custom-block {
  font-size: 14px;
  border-radius: 5px;
  border-left: 10px solid transparent;
  background-color: $bgColor;
  padding: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease-in-out;

  &:hover {
    transition: 0.25s ease-in-out;
    transform: scale(1.025);
  }

  &, p {
    &::before, &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  * {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .custom-block-title {
    font-weight: bold;
    font-size: 16px;
  }

  &.tip {
    border-color: $accentColor;

    .custom-block-title {
      color: $accentColor;
    }
  }

  &.warning {
    border-color: $yellowColor;

    .custom-block-title {
      color: $yellowColor;
    }
  }
}

blockquote {
  color: $grayColor;
  border-color: $grayColor;

  &:hover {
    border-left-color: $accentColor;
  }
}

pre.vue-container {
  border-left-width: 0.5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;

  & > code {
    font-size: 14px !important;

    & > p {
      margin: -5px 0 -20px 0;
    }

    code {
      background-color: #42b983 !important;
      padding: 3px 5px;
      color: #000;
    }

    em {
      color: #808080;
      font-weight: light;
    }
  }
}