.schema-table, .custom-block, blockquote {
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--table-border-color);
  border-left-color: var(--blockquote-heading-color);
  background-color: var(--blockquote-bg-color);
  border-left-width: 10px;
  padding: 25px;
  margin-bottom: 25px;

  &, p {
    &::before, &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  * {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .custom-block-title {
    font-weight: bold;
    font-size: 16px;
  }

  &.warning {
    border-color: var(--yellow-color);

    .custom-block-title {
      color: var(--yellow-color);
    }
  }
}
