.custom-block {
  @extend %blockquote;

  * {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .custom-block-title {
    font-weight: bold;
    font-size: 16px;
  }

  p {
    &::before,
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &.warning {
    border: 1px solid var(--yellow-color);
  }
}
