blockquote, .custom-block {
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid var(--table-border-color);
  background-color: var(--blockquote-bg-color);
  border-left-width: 10px;
  padding: 25px;
  margin-bottom: 25px;
  // transition: border 0.25s ease-in-out;

  &:hover {
    transition: border 0.25s ease-in-out;
    border-color: var(--accent-color);
    // transform: scale(1.025);
  }

  &, p {
    &::before, &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  * {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .custom-block-title {
    font-weight: bold;
    font-size: 16px;
  }

  &.tip {
    border-color: var(--accent-color);

    .custom-block-title {
      color: var(--accent-color);
    }
  }

  &.warning {
    border-color: var(--yellow-color);

    .custom-block-title {
      color: var(--yellow-color);
    }
  }
}

blockquote {
  color: var(--gray-color);
  border-color: var(--accent-color);
  
  &:hover {
    border-color: var(--accent-color);
  }
}

pre.vue-container {
  border-left-width: 0.5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;

  & > code {
    font-size: 14px !important;

    & > p {
      margin: -5px 0 -20px 0;
    }

    code {
      background-color: #42b983 !important;
      padding: 3px 5px;
      color: #000;
    }

    em {
      color: #808080;
      font-weight: light;
    }
  }
}