.custom-block {
  border-radius: 5px;
  border-left: 0.5rem solid transparent;

  &, p {
    &::before, &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  p {
    &:last-of-type {
      margin: 0;
    }
  }

  .custom-block-title {
    font-weight: bold;
  }

  &.tip, &.warning, &.danger {
    padding: 25px;
    border-left-width: 0.5rem;
    margin-bottom: 15px;
  }

  &.tip {
    border-color: $accentColor;
    background-color: $tableColor;

    .custom-block-title {
      color: $accentColor;
    }
  }

  &.warning {
    background-color: lighten($yellowColor, 60%);
    border-color: darken($yellowColor, 50%);
    color: darken($yellowColor, 50%);

    .custom-block-title {
      color: darken($yellowColor, 50%);
    }
  }

  &.danger {
    background-color: lighten(red, 75%);
    border-color: darken(red, 20%);
    color: darken(red, 70%);

    .custom-block-title {
      color: darken(red, 40%);
    }
  }
}

pre.vue-container {
  border-left-width: 0.5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;

  & > code {
    font-size: 14px !important;

    & > p {
      margin: -5px 0 -20px 0;
    }

    code {
      background-color: #42b983 !important;
      padding: 3px 5px;
      color: #000;
    }

    em {
      color: #808080;
      font-weight: light;
    }
  }
}