.schema {
  em {
    color: var(--gray-color);
  }

  pre, code {
    margin: 7px 0;
    line-height: 1.7em;
    white-space: pre-line;
  }

  .loading-msg {
    padding-top: 0 !important;
  }

  &-index {
    padding-top: 15px;
    padding-bottom: 15px;

    ol {
      margin: 0;
      padding-left: 15px;
      list-style: disc;
      position: relative;
      overflow: hidden;
      padding-bottom: 30px;
      border-bottom: 1px solid var(--bg-color);

      &::after {
        transform: rotateX(180deg);
        width: 100%;
        height: 40px;
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        z-index: 1;
        content: '';
        box-shadow: 0 0 5rem var(--shadow-color);
      }

      &.hide {
        max-height: 90px;
        padding-bottom: 0;
      }

      &.wontHide {
        max-height: 100%;
        border-width: 0;

        &::after {
          box-shadow: none;
        }
      }
    }

    .show-more {
      color: var(--accent-color);
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      margin: 10px auto 0;
      cursor: pointer;
    }
  }

  &-options {
    padding-bottom: 15px;

    input {
      margin-left: 10px;
    }

    label {
      font-size: 16px;
      color: var(--gray-color);
      font-weight: bold;
    }

    label,
    input {
      cursor: pointer;

      &[disabled='disabled'] {
        cursor: not-allowed;
      }
    }
  }

  &-table {
    position: relative;
    background-color: var(--table-bg-color);
    border-color: var(--table-border-color);
    box-sizing: border-box;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0;

    &.omitted {
      &::after {
        content: 'Omitted';
        position: absolute;
        color: var(--text-color);
        font-weight: bold;
        font-size: 4rem;
        top: 50%;
        transform: translateY(-50%) rotate(-15deg);
        margin: 0 auto;
        left: 0;
        right: 0;
        opacity: 0.15;
        pointer-events: none;
      }
    }

    .values-list {
      position: relative;
      display: flex;
      // align-items: center;
      height: 47px;

      ol {
        position: absolute;
        top: 8px;
        z-index: 10;
        padding: 0 37px 7px 11px;
        max-height: 200px;
        overflow: auto;
        // width: max-content;
        cursor: pointer;

        li {
          position: relative;
          list-style: none;
          padding-top: 7px;
          width: max-content;
          display: none;

          &:first-of-type {
            display: block;
          }
        }

        &::after {
          top: 14px;
          right: 11px;
          border: solid transparent;
          content: '';
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: transparent;
          border-top-color: var(--code-text-color);
          border-width: 5px;
          margin-left: -5px;
        }

        &.selected {
          z-index: 11;

          &::after {
            height: 15px;
            border: 0;
            width: 15px;
            line-height: 1rem;
            text-align: right;
            font-weight: bold;
            content: '\00D7';
            top: 7px;
            font-size: 16px;
          }

          li {
            display: block;
          }
        }
      }
    }

    &--item {
      display: grid;
      grid-template-columns: minmax(min-content, 150px) 1fr;
      border-bottom: 1px solid var(--table-border-color);

      &:last-of-type {
        border-bottom-width: 0;
      }

      .heading {
        grid-column: span 1;
        text-align: left;
        text-transform: capitalize;
        background-color: var(--table-heading-color);
        border-right: 1px solid var(--table-border-color);
        display: flex;
        align-items: center;
        padding: 7px 13px;
        font-size: 1rem;
        cursor: help;

        & + * {
          padding: 7px 13px;
          display: flex;
          align-items: center;
          grid-column: span 1;
        }

        * {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }
      }

      .type {
        & > *[title] {
          cursor: help;
        }
      }

      .name {
        a {
          text-decoration: none;

          h6 {
            font-weight: normal;
          }
        }
      }

      .attributes {
        display: block;

        .attribute {
          margin-top: 5px;
        }
      }
    }
  }
}

@media (max-width: 571px) {
  .schema {
    &-table {
      &--item {
        grid-template-columns: minmax(min-content, 120px) 1fr;
      }
    }
  }
}

@media (max-width: 401px) {
  // 400px is used on a lot of modern device viewports
  .schema {
    &-table {
      border-left-width: 1px;

      &--item {
        grid-template-columns: 1fr;

        &,
        .heading {
          border-width: 0;
        }
      }
    }
  }
}
