.download-tables {
  position: relative;

  .load-more-btn {
    margin-top: 1rem;
    display: block;

    &.hide {
      display: none;
    }
  }

  .results-message {
    line-height: 1.2rem;
    font-weight: bold;
    display: inline-block;

    &.error {
      color: var(--red-color);
    }
  }

  .download-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .img-wrap {
      flex: none;

      div {
        margin-right: 2rem;
        margin-bottom: 1rem;
        position: relative;
        height: 3rem;
        width: 3rem;
        color: var(--text-color);

        &::before {
          position: absolute;
          text-align: center;
          line-height: 1em;
          font-size: 50px;
          width: 100%;
          height: 100%;
        }
      }
    }

    .text-wrap {
      flex: 1;

      h3 {
        padding-bottom: 0;
        line-height: 1.5rem;
      }

      p {
        display: block;
        margin: 0;
      }

      ol {
        padding: 0;
        margin: 0 0 .5rem;

        li {
          margin: 0;
          list-style: none;
          display: inline-block;
          margin-right: 1rem;
        }

        &:not(:only-of-type):first-of-type {
          li {
            margin-right: 0;
          }
        }
      }

      small {
        display: inline-block;
        text-transform: capitalize;

        &:first-of-type {
          font-weight: bold;
        }
      }

      &--download--btn-wrap {
        display: block !important;
      }
    }
  }
}

@media (max-width: 571px) {
  .download-tables {
    .download-wrap {
      & > * {
        flex: 0 0 100% !important;
      }

      .text-wrap {
        ol {
          li {
            display: inline-block !important;
          }
        }
      }
    }
  }
}
