@import 'https://cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css';

.download-tables {
  position: relative;

  .load-more-btn {
    margin-top: 1rem;

    &.hide {
      display: none;
    }
  }

  .results-message {
    line-height: 1.2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: inline-block;

    &.error {
      color: var(--red-color);
    }
  }

  .sorting-options {
    position: sticky;
    background-color: var(--bg-color);
    border-radius: 5px;
    top: 0;
    z-index: 9;
    padding: 1rem;
    border: 1px solid var(--accent-color);

    .show-options {
      display: inline-block;
      padding: 0 0 1.5rem 1.25rem;
      margin-bottom: 0;
      position: relative;
      color: var(--accent-color);
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer;

      &::before {
        left: 0;
        top: 10px;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-top-color: var(--accent-color);
        border-width: 5px;
      }

      &.hide-options {
        padding-bottom: 0;

        &::before {
          border-top-color: transparent;
          border-bottom-color: var(--accent-color);
          top: 5px;
        }
      }
    }

    .sort-rows {
      .sort-row {
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        label {
          font-weight: bold;
          font-size: 14px;
          flex: none;
        }

        select,
        input {
          flex: 1;
          display: inline;
          font-size: 14px;
          margin-left: 10px;
          max-width: 220px;
          border-radius: 5px;
          padding: .5rem;
          border: none;
          background-color: var(--light-gray-color);
        }

        input {
          border-radius: 5px;
        }

        &.search {
          input {
            padding-left: .75rem;
          }
        }

        &.checkbox {
          label {
            cursor: pointer;
          }

          input {
            flex: none;
          }
        }

        &.reset {
          cursor: pointer;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .download-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .img-wrap {
      flex: none;

      div {
        margin-right: 2rem;
        margin-bottom: 1rem;
        position: relative;
        height: 3rem;
        width: 3rem;
        color: var(--text-color);

        &::before {
          position: absolute;
          text-align: center;
          line-height: 1em;
          font-size: 50px;
          width: 100%;
          height: 100%;
        }
      }
    }

    .text-wrap {
      flex: 1;

      p {
        display: block;
        margin: 0;
      }

      ol {
        padding: 0;
        margin: 0 0 .5rem;

        li {
          margin: 0;
          list-style: none;
          display: inline-block;
          margin-right: 1rem;
        }

        &:not(:only-of-type):first-of-type {
          li {
            margin-right: 0;
          }
        }
      }

      small {
        display: inline-block;
        text-transform: capitalize;

        &:first-of-type {
          font-weight: bold;
        }
      }

      &--download--btn-wrap {
        display: block !important;
      }

      .dl-btn {
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 571px) {
  .download-tables {
    .sorting-options {
      .sort-rows {
        .sort-row,
        .sort-row.search,
        .sort-row.checkbox {
          margin-right: 0;
          display: flex;
          align-items: center;

          label {
            flex: none;
            margin-right: 1rem;
          }

          select,
          input {
            margin: 5px 0 0 0;
            display: block;
            flex: 1;
            max-width: 100%;
          }

          .search {
            input {
              width: 100%;
            }
          }

          input[type='checkbox'] {
            flex: none;
          }
        }
      }
    }

    .download-wrap {
      & > * {
        flex: 0 0 100% !important;
      }

      .text-wrap {
        ol {
          li {
            display: inline-block !important;
          }
        }
      }
    }
  }
}
