@import 'https://cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css';

.download-tables {
  position: relative;

  .sorting-options {
    position: sticky;
    background-color: var(--bg-dark-color);
    top: 0;
    z-index: 9;
    padding: 1rem 0 1.5rem;
    // grid-column: span 4;

    .show-options {
      display: inline-block;
      padding: 0 0 1.5rem 1.25rem;
      margin-bottom: 0;
      position: relative;
      color: var(--accent-color);
      text-decoration: underline;
      font-weight: bold;
      cursor: pointer;

      &::before {
        left: 0;
        top: 10px;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-top-color: var(--accent-color);
        border-width: 5px;
      }

      &.hide-options {
        padding-bottom: 0;

        &::before {
          border-top-color: transparent;
          border-bottom-color: var(--accent-color);
          top: 5px;
        }
      }
    }

    .sort-rows {
      .sort-row {
        display: block;
        min-height: 2rem;
        margin-right: 30px;
        margin-bottom: 10px;

        label {
          font-weight: bold;
          font-size: 16px;
          color: var(--gray-color);
        }

        select,
        input {
          display: inline;
          font-size: 16px;
          margin-left: 10px;
          padding: 3px 5px 5px 0;
        }

        input {
          border-radius: 5px;
          border: 1px solid #c8c8c8;
          padding: 3px 8px;
        }

        input[type='text'] {
          border-width: 0;
          border-radius: 0;
          padding-left: 0;
          background-color: transparent;
          border-bottom: 1px solid var(--accent-color);
          color: var(--text-color);
        }

        &.search {
          display: block;
        }

        &.checkbox {
          min-height: auto;

          label {
            cursor: pointer;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .download-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .img-wrap {
      flex: none;

      div {
        margin-right: 2rem;
        margin-bottom: 1rem;
        position: relative;
        height: 3rem;
        width: 3rem;
        color: var(--text-color);

        &::before {
          position: absolute;
          text-align: center;
          line-height: 1em;
          font-size: 50px;
          width: 100%;
          height: 100%;
        }
      }
    }

    .text-wrap {
      flex: 1;

      p {
        display: block;
        margin: 0;
      }

      ol {
        padding: 0;
        margin: 0 0 .5rem;

        li {
          margin: 0;
          list-style: none;
          display: inline-block;
          margin-right: 1rem;
        }

        &:not(:only-of-type):first-of-type {
          li {
            margin-right: 0;
          }
        }
      }

      small {
        display: inline-block;
        text-transform: capitalize;

        &:first-of-type {
          font-weight: bold;
        }
      }

      &--download--btn-wrap {
        display: block !important;
      }

      .dl-btn {
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 571px) {
  .download-tables {
    .sorting-options {
      .sort-rows {
        .sort-row {
          select,
          input {
            margin: 5px 0 0 0;
            display: block;
          }

          input[type='checkbox'] {
            display: inline-block;
            margin-left: 10px;
          }
        }
      }
    }

    .download-wrap {
      & > * {
        flex: 0 0 100% !important;
      }

      .text-wrap {
        ol {
          li {
            display: block !important;
          }
        }
      }
    }
  }
}
