.download-tables {
  position: relative;

  .sorting-options {
    position: sticky;
    background-color: var(--bg-dark-color);
    top: var(--navbar-height);
    z-index: 9;
    padding: 1rem 0 1.5rem;

    h6.show-options {
      display: inline-block;
      padding: 0 0 1.5rem;
      margin-bottom: 0;
      position: relative;
      color: var(--accent-color);
      text-decoration: underline;
      cursor: pointer;

      &::after {
        right: -15px;
        top: 6px;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-top-color: var(--accent-color);
        border-width: 5px;
      }

      &.hide-options {
        padding: 0;

        &::after {
          border-top-color: transparent;
          border-bottom-color: var(--accent-color);
          top: 0px;
        }
      }
    }

    .sort-rows {
      .sort-row {
        display: block;
        min-height: 2rem;
        margin-right: 30px;
        margin-bottom: 10px;

        label {
          font-weight: bold;
        }

        select, input {
          display: inline;
          font-size: 16px;
          margin-left: 10px;
          padding: 3px 5px 5px 0;
        }

        input {
          border-radius: 5px;
          border: 1px solid #c8c8c8;
          padding: 3px 8px;
        }

        &.search {
          display: block;
        }

        &.checkbox {
          min-height: auto;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .download-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .download-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .img-wrap {
        flex: none;

        div {
          margin-right: 20px;
          position: relative;
          height: 50px;
          width: 50px;
          color: var(--text-color);

          &::before {
            position: absolute;
            text-align: center;
            line-height: 1em;
            font-size: 50px;
            width: 100%;
            height: 100%;
            transition: 0.25s color;
          }
        }
      }

      .text-wrap {
        flex: 1;

        h3 {
          font-size: 15px;
          padding: 0 0 5px;
          line-height: 1rem;
          color: var(--text-color);

          &.spoiler {
            display: flex;
            align-items: center;

            &::after {
              position: relative;
              content: 'Spoiler';
              background-color: var(--spoiler-color);
              color: var(--dark-color);
              border-radius: 5px;
              margin-left: 10px;
              margin-right: 5px;
              font-size: 10px;
              font-weight: bold;
              padding: 3px 5px;
              display: inline-table;
              text-transform: capitalize;
            }
          }
        }

        p {
          display: block;
          margin: 0;
        }

        ol {
          padding: 0;
          margin: 0;

          li {
            margin: 0;
            list-style: none;
            display: inline-block;
            margin-right: 30px;
          }
        }

        small {
          color: var(--text-color);
          display: inline-block;
          text-transform: capitalize;

          &:first-of-type {
            font-weight: bold;
          }
        }

        &--downloads {
          margin-top: 15px;

          small {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 571px) {
  .download-tables {
    .sorting-options {
      .sort-rows {
        .sort-row {
          select, input {
            margin: 5px 0 0 0;
            display: block;
          }

          input[type='checkbox'] {
            display: inline-block;
            margin-left: 10px;
          }
        }
      }
    }

    .download-wrap {
      & > * {
        flex: 0 0 100% !important;
      }

      .img-wrap {
        margin-bottom: 10px;
      }

      .text-wrap {
        ol {
          li {
            display: block !important;
          }
        }
      }
    }
  }
}
