.download-tables {
  position: relative;

  h3 {
    font-size: 14px;
    line-height: 1rem;
    padding: 0 0 5px;
    color: var(--text-color);

    &.spoiler {
      display: flex;
      align-items: center;

      &::after {
        position: relative;
        content: 'Spoiler';
        background-color: var(--spoiler-color);
        color: var(--dark-color);
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 5px;
        font-size: 10px;
        font-weight: bold;
        padding: 3px 5px;
        display: inline-table;
        text-transform: capitalize;
      }
    }
  }

  small {
    color: var(--text-color);
  }

  .sorting-options {
    position: sticky;
    background-color: var(--bg-dark-color);
    top: 64px;
    z-index: 9;
    padding: 15px 0;

    .sort-row {
      display: inline-block;
      margin-right: 30px;
    }

    .show-sort-row {
      display: inline-block;
    }

    select {
      display: inline;
      font-size: 16px;
      margin-left: 10px;
    }
  }

  .download-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .download-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .img-wrap {
        flex: none;

        div {
          margin-right: 20px;
          position: relative;
          height: 50px;
          width: 50px;
          color: var(--text-color);

          &::before {
            position: absolute;
            text-align: center;
            line-height: 1em;
            font-size: 50px;
            width: 100%;
            height: 100%;
            transition: 0.25s color;
          }
        }
      }

      .txt-wrap {
        flex: 1;

        p {
          display: block;
          margin: 0;
        }

        ol {
          padding: 0;
          margin: 0;

          li {
            margin: 0;
            list-style: none;
            display: inline-block;
          }
        }

        small {
          display: inline-block;
          font-weight: bold;
          margin-right: 30px;

          span {
            font-weight: normal;
            text-transform: capitalize;

            &.type {
              text-transform: none;
            }
          }
        }
      }

      .dl-wrap {
        flex: 0 0 100%;
        padding: 0;
        margin: 10px 0 0;

        li {
          list-style: none;

          &.sqlite {
            margin-top: 10px;
          }
        }

        small {
          display: inline-block;
          font-weight: bold;
        }

        a {
          text-transform: lowercase;
          font-weight: bold;
        }
      }
    }
  }
}