.navbar {
  .nav-links {
    .nav-item, .repo-link {
      margin-left: 10px !important;
    }
  }

  .search-box {
    margin-right: 0 !important;

    input {
      // Prevent zoom on mobile
      font-size: 16px !important;
    }
  }
}