#changelog,
#frequently-asked-questions {
  padding-bottom: 0; // h1

  & ~ h2,
  & ~ h3,
  & ~ h4,
  & ~ h5,
  & ~ h6 {
    margin-top: 0;
    padding-top: 30px;
  }

  & ~ h3 {
    padding-top: 20px;
  }

  & .header-anchor {
    display: none;
  }
}

#frequently-asked-questions {
  & ~ h3 {
    padding-top: 30px;
  }

  & ~ * .attribute {
    cursor: initial !important;
    margin: 0 3px;
    vertical-align: middle;

    &:hover {
    }
  }
}
