#mtgjson,
#changelog,
#frequently-asked-questions {
  & ~ h2 {
    margin-top: 0;
    padding-top: 100px;
  }

  & ~ h3,
  & ~ h4,
  & ~ h5,
  & ~ h6 {
    margin-top: 0;
    padding-top: 30px;
  }
}

#changelog {
  & ~ h4 {
    padding-top: 0;
  }
}
