$accentColor = dodgerblue;
$textColor = #2c3e50;
$borderColor = #eaecef;
$codeBgColor = #282c34;
$yellowColor = #e7c000;
$greenColor = seagreen;
$sidebarWidth = 220px;
$tableCodeBgColor = #ffeeec;
$tableCodeTextColor = #9b2e2e;
$tableAltBgColor = #f6f8fa;