// Auxillery colors
$yellowColor = #e7c000;
$greenColor = seagreen;
$redColor = #9b2e2e;
$grayColor = #aaaaaa;
// Main theme colors
$lightColor = #ffffff;
$darkColor = #212e3c;
$accentColor = #61c6ed;
$spoilerColor = lighten($yellowColor, 50%);
// Color Themes
$bgColor = $darkColor;
$textColor = $lightColor;
$bgColorDark = darken($bgColor, 40%);
$textColorLight = lighten($textColor, 50%);
// Data Presentation
$tableColor = $bgColor;
$tableHeadingColor = darken($bgColor, 20%);
$tableBorderColor = darken($bgColor, 40%);
// Code colors
// Light theme requires different colors completely
// $codeBgColor = #ffeeec;
// $codeTextColor = $redColor;
$codeBgColor = #2d2d2d;
$codeTextColor = $yellowColor;

$sidebarWidth = 250px;