// Search
.search-box {
  margin-right: 0;
  display: initial;

  input {
    background-color: var(--search-bg-color);
    color: var(--search-text-color);
    border-color: var(--search-border-color);
    border-width: 1px;
    padding: 0;
    padding-left: 12px;
    border-radius: 5px;
    left: 0;
    width: 100%;
    transition: all 0s;
    font-size: 16px;
    font-weight: bold;

    &:focus {
      width: 100%;
      border-color: var(--search-border-highlight-color);
    }
  }

  .suggestions {
    z-index: 999;

    li {
      a {
        text-decoration: none !important;
      }
    }
  }
}
