@require './reset';
@require './custom-blocks';
@require './typography';
@require './wrapper';
@require './arrow';
@require './code';
@require './pages';

:root {
  // Auxillery colors
  --yellow-color: #e3bd34;
  --green-color: lightgreen;
  --red-color: salmon;
  --orange-color: #ef6c2f;
  --blue-color: #85d3ff;
  --gray-color: #aaaaaa;
  --light-gray-color: #f6f8fa;
  --medium-gray-color: #eaecef;
  --dark-gray-color: #2d2d2d;
  --discord-color: #7289da;
  --patreon-color: #f96753;
  // Main theme colors
  --light-color: #ffffff;
  --dark-color: #212e3c;
  --darker-color: #1a2530;
  --darkest-color: #141c24;
  --accent-color: #61c6ed;
  --spoiler-color: #ffe774;
  // Color Themes
  --text-color: var(--light-color);
  --bg-color: var(--dark-color);
  --bg-border-color: var(--darkest-color);
  --bg-dark-color: var(--darkest-color);
  --shadow-color: var(--darkest-color);
  --blockquote-bg-color: var(--darker-color);
  --search-bg-color: var(--darkest-color);
  --search-text-color: var(--text-color);
  --light-only-dark: var(--dark-color);
  // --supporter-bg-color: var(--dark-color);
  // Data Presentation
  --table-color: var(--bg-color);
  --table-bg-color: var(--dark-color);
  --table-heading-color: var(--darker-color);
  --table-border-color: var(--dark-color);
  // Code colors
  --code-bg-color: var(--dark-gray-color);
  --code-text-color: var(--yellow-color);
}

html, body {
  min-width: 320px;
}

html, body, #app, .theme-container {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--bg-dark-color);
  color: var(--text-color);

  &.light {
    // Main Color
    --accent-color: #1e90ff;
    --orange-color: #dd430f;
    --yellow-color: #cfa715;
    // Color Themes
    --text-color: var(--dark-color);
    --bg-color: var(--light-color);
    --bg-border-color: var(--medium-gray-color);
    --bg-dark-color: var(--light-gray-color);
    --shadow-color: var(--medium-gray-color);
    --search-bg-color: var(--medium-gray-color);
    --search-text-color: var(--text-color);
    --blockquote-bg-color: var(--medium-gray-color);
    // --supporter-bg-color: var(--bg-color);
    // Data Presentation
    --table-color: var(--text-color);
    --table-bg-color: var(--light-color);
    --table-heading-color: var(--light-gray-color);
    --table-border-color: var(--medium-gray-color);
    // Code colors
    --code-bg-color: #ffeeec;
    --code-text-color: #9b2e2e;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}

ol, ul {
  margin-left: 15px;
}

a {
  &.header-anchor {
    font-size: 0.85em;
    margin-left: -0.75em;
    margin-top: 0.1em;
    text-decoration: none !important;
    opacity: 0;
    float: left;
  }

  &, &:link {
    cursor: pointer;
    transition: 0.25s color;

    &:hover {
      transition: 0.25s color;
    }
  }
}

.desktop-hide {
  display: none !important;
}

hr {
  border: 0;
  border-top: 1px solid var(--table-border-color);
}

img {
  user-select: none;

  &[alt='avatar'] {
    max-width: 100px !important;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
  }

  &[alt='logo'] {
    max-width: 275px !important;
    margin-left: 0;
  }

  &.img-license {
    max-width: 100px;
    margin-bottom: 15px;
  }
}

.dl-btn {
  text-align: center;
  padding: 3px 5px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: var(--bg-color);
  line-height: 1rem;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 12px;
  text-decoration: none !important;
  font-weight: bold;
}

.search-box {
  margin-right: 0;
  display: initial;

  input {
    background-color: var(--search-bg-color);
    color: var(--search-text-color);
    border-width: 0;
    padding: 0;
    padding-left: 32px;
    border-radius: 5px;
    left: 0;
    width: 100%;
    transition: all 0s;
    // Prevent zoom on mobile with 16px. Bye bye for now.
    font-size: 12px;
    font-weight: bold;

    &:focus {
      width: 100%;
    }
  }
}

.content__default {
  @extend $wrapper;

  & > * {
    max-width: $contentWidth;
  }

  & > :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  & > * {
    .header-anchor {
      opacity: 0;
    }
  }

  // Deal with the scrolling issue with anchors being hidden
  // by the fixed navigation
  & > h2,
  & > h3 {
    padding-top: 100px;

    &:first-of-type {
      margin-top: -100px;
    }
  }

  a {
    text-decoration: underline;
    font-weight: bold !important;

    &:hover {
      text-decoration: none !important;
    }
  }
}

.sidebar-group-items, .sidebar-sub-headers {
  .sidebar-link {
    font-size: 14px;
    font-weight: normal;

    &.active {
      position: relative;
      color: var(--accent-color);
    }
  }

  .sidebar-sub-headers {
    &:empty {
      display: none;
    }
  }
}

@media (max-width: $MQMobile) {
  .desktop-hide {
    display: block !important;
  }

  .mobile-hide {
    display: none !important;
  }
}
