@import './vars';
@import './reset';
@import './custom-blocks';
@import './typography';
@import './placeholders';
@import './code';

html {
  scroll-behavior: smooth;
}

html, body {
  min-width: 320px;
}

html, body, #app, .theme-container {
  height: 100%;
}

@media (max-width: 719px) {
  html, body, #app, .theme-container {
    height: auto;
  }
}

body {
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

ol, ul {
  margin-left: 15px;
}

a {
  &.header-anchor {
    font-size: 0.85em;
    margin-left: -0.75em;
    margin-top: 0.1em;
    text-decoration: none !important;
    opacity: 0;
    float: left;
  }

  &, &:link {
    cursor: pointer;
    transition: 0.25s color;

    &:hover {
      transition: 0.25s color;
    }
  }

  & > span {
    display: inline-block;
  }
}

.desktop-hide {
  display: none !important;
}

.no-result {
  color: var(--accent-color);
}

hr {
  border: 0;
  border-top: 1px solid var(--table-border-color);
}

em {
  font-style: italic;
}

img {
  user-select: none;

  &.avatar {
    max-width: 100px !important;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
  }

  &[alt='logo'] {
    max-width: 275px !important;
    margin-left: 0;
  }

  &.img-license {
    max-width: 100px;
    margin-bottom: 15px;
  }
}

blockquote {
  @extend %blockquote;

  h3 {
    padding: 0 0 1rem;
  }

  p {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  i {
    padding: 5px 7px;
    background-color: var(--yellow-color);
    border-radius: 5px;
    color: var(--dark-color);
    font-weight: bold;
    font-size: 12px;
    line-height: 2.7em;
  }

  ul {
    margin-left: 0;
    margin-bottom: 0;

    & > li {
      margin: 5px 0;
    }

    li {
      display: flex;
      align-items: center;

      pre, code {
        padding-top: 0;
        padding-bottom: 0;
      }

      strong {
        margin-right: 5px;
      }
    }
  }
}

.table-of-contents {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;

    li {
      grid-column: span 1;
    }
  }
}

.small-header {
  display: block;
  font-weight: .5rem;
  padding: 1rem 0 .5rem;
  font-weight: bold;
}

.cta-btn {
  display: inline-block;
  vertical-align: center;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  text-decoration: none;
  transition: all 0.25s;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-decoration: none !important;
  background-color: transparent;
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.search-box {
  margin-right: 0;
  display: initial;

  input {
    background-color: var(--search-bg-color);
    color: var(--search-text-color);
    border-color: var(--search-border-color);
    border-width: 1px;
    padding: 0;
    padding-left: 12px;
    border-radius: 5px;
    left: 0;
    width: 100%;
    transition: all 0s;
    font-size: 16px;
    font-weight: bold;

    &:focus {
      width: 100%;
      border-color: var(--search-border-highlight-color);
    }
  }
}

.link {
  &-inline-image {
    padding-left: 20px;
    margin-left: 5px;
    background-size: 17px 17px;
    background-position: left center;
    background-repeat: no-repeat;

    &.paypal {
      background-image: url('/images/icon-paypal.svg');
    }

    &.patreon {
      background-image: url('/images/icon-patreon.svg');
    }

    &.github {
      background-image: url('/images/icon-github.svg');
    }
  }
}

.content__default {
  @extend %wrapper;
  padding: 0 4rem;
  height: 100%;

  & > * {
    max-width: var(--content-width);
  }

  & > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  & > *:hover {
    .header-anchor {
      display: none;
    }
  }
  a {
    text-decoration: underline;
    font-weight: bold !important;

    &:hover {
      text-decoration: none !important;
    }
  }
}

.sidebar-group-items, .sidebar-sub-headers {
  .sidebar-link {
    font-size: 16px;
    font-weight: normal;

    &.active {
      position: relative;
      color: var(--accent-color);
    }
  }

  .sidebar-sub-headers {
    &:empty {
      display: none;
    }
  }
}

.accent {
  color: var(--accent-color);
}

.attribute {
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
  padding: 3px 5px;
  cursor: help;
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  overflow: hidden;
  z-index: 2;
  color: var(--attribute-standard-color);
  background-color: var(--bg-dark-color);
  font-weight: bold;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  &.optional,
  &.decks {
    color: var(--dark-color);

    &::before {
      background-color: var(--spoiler-color);
    }
  }

  &.deprecated {
    &::before {
      background-color: var(--red-color);
    }
  }
}

.go-to-top {
  color: var(--accent-color) !important;
  right: 1rem !important;
}

.sidebar {
  box-shadow: 0 0 5rem var(--shadow-color);
}

.suggestions {
  z-index: 999;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader::after {
  content: " ";
  display: block;
  width:40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: var(--text-color) transparent var(--text-color) transparent;
  animation: loader-animation 1.2s linear infinite;
}
@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 719px) {
  .content__default,
  .page-nav,
  .page-edit {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .desktop-hide {
    display: block !important;
  }

  .mobile-hide {
    display: none !important;
  }
  .sidebar {
    box-shadow: none;
  }
  .sidebar-open {
    .sidebar {
      box-shadow: 0 0 5rem var(--shadow-color);
    }
  }
}
