@import 'https://cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css';

@import './vars';
@import './reset';
@import './custom-blocks';
@import './typography';
@import './placeholders';
@import './code';
@import './pages';
@import './sentry';

html, body {
  min-width: 320px;
}

html, body, #app, .theme-container {
  height: 100%;
}
@media (max-width: 719px) {
  html, body, #app, .theme-container {
    height: auto;
  }
}

body {
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

ol, ul {
  margin-left: 15px;
}

a {
  text-decoration: underline;

  &:hover,
  &.sidebar-link,
  &.sidebar-heading {
    text-decoration: none;
  }

  &.sidebar-link,
  &.sidebar-heading {
    display: inline;
  }

  &.header-anchor {
    opacity: 0;
    margin-left: -0.9em;
  }

  span {
    display: inline-block;
  }
}

small {
  font-size: 14px;
  line-height: 1rem;
}

.desktop-hide {
  display: none !important;
}

.no-result {
  color: var(--accent-color);
}

hr {
  border: 0;
  border-top: 1px solid var(--table-border-color);
}

em {
  font-style: italic;
}

img {
  user-select: none;

  &.avatar {
    max-width: 100px !important;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
  }

  &[alt='logo'] {
    max-width: 275px !important;
    margin-left: 0;
  }

  &.img-license {
    max-width: 100px;
    height: auto;
    margin-bottom: 15px;
  }
}

// Property blocks
blockquote {
  @extend %blockquote;

  &:first-of-type {
    margin-top: 0;
  }

  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &.disabled {
    opacity: 0.25;
    pointer-events: none;
  }

  h3 {
    padding-top: 0;
  }

  p {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  i.optional,
  i.omitted,
  i.deprecated {
    background-color: var(--light-color);
    color: var(--dark-color);

    @extend %code-block;
  }

  i.optional {
    background-color: var(--yellow-color);
  }

  i.omitted,
  i.deprecated {
    background-color: var(--red-color);
  }

  i {
    margin-right: 8px !important;

    &:last-of-type {
      margin-right: 0 !important;
    }
  }

  ul {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 1rem;

    & > li {
      margin: 0 0 .5rem;

      &:empty {
        margin: 0;
      }
    }

    li {
      display: flex;
      align-items: center;

      p {
        width: 100%;
      }

      strong {
        margin-right: 5px;
      }

      code {
        // display: inline-block;
      }

      pre {
        margin-bottom: 0;
      }
    }
  }
}

// Model Properties of a page
#model-properties {
  &.none {
    position: relative;

    &::after {
      content: "No Available Properties";
      position: absolute;
      top: 5rem;
      left: 0;
      font-size: 1rem;
      color: var(--gray-color);
    }

    & ~ * {
      display: none;
    }
  }

  & ~ .custom-block {
    margin-bottom: 1rem;
    margin-top: 0;
  }
}

// Table of contents
.table-of-contents {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;

    li {
      grid-column: span 1;

      &.disabled {
        a {
          color: var(--gray-color);
          text-decoration: line-through;
          pointer-events: none;
        }
      }
    }
  }
}

// Custom small header
.small-header {
  display: block;
  font-weight: .5rem;
  padding: 1rem 0 .5rem;
  font-weight: bold;
}

// Call to action buttons
.cta-btn {
  display: inline-block;
  vertical-align: center;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  text-decoration: none;
  transition: all 0.25s;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-decoration: none !important;
  background-color: transparent;
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
  }
}

// Images for links
.link {
  &-inline-image {
    padding-left: 20px;
    margin-left: 5px;
    background-size: 17px 17px;
    background-position: left center;
    background-repeat: no-repeat;

    &.paypal {
      background-image: url('/images/icon-paypal.svg');
    }

    &.patreon {
      background-image: url('/images/icon-patreon.svg');
    }

    &.github {
      background-image: url('/images/icon-github.svg');
    }
  }
}

// Content wrapper
.content__default {
  @extend %wrapper;
  padding: 0 4rem;
  height: 100%;

  & > * {
    max-width: var(--content-width);
  }

  & > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

// Sidebar overrides
.sidebar-group-items, .sidebar-sub-headers {
  .sidebar-link {
    font-size: 16px;
    font-weight: normal;

    &.active {
      position: relative;
      color: var(--accent-color);
    }
  }

  .sidebar-sub-headers {
    &:empty {
      display: none;
    }
  }
}
.sidebar-link[href="/mtggraphql/"],
.sidebar-link[href="/data-models/sealed-product/"] {
  position: relative;

  &::after {
    content: "new";
    position: absolute;
    right: -40px;
    top: 0;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 12px;
    background-color: var(--yellow-color);
    font-family: var(--font-monospace);
    font-weight: bold;
    color: var(--dark-color);
  }
}

// Accent color class
.accent {
  color: var(--accent-color);
}

// Spoiler attribute tag
.spoiler {
  font-family: var(--font-monospace);
  font-size: 12px;
  background-color: var(--yellow-color);
  color: var(--dark-color);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  word-break: break-word;
  font-weight: bold;
  margin-right: 5px;
}

// Back to top button
.go-to-top {
  color: var(--accent-color) !important;
  right: 1rem !important;
}

// Search
.search-box {
  margin-right: 0;
  display: initial;

  input {
    background-color: var(--search-bg-color);
    color: var(--search-text-color);
    border-color: var(--search-border-color);
    border-width: 1px;
    padding: 0;
    padding-left: 12px;
    border-radius: 5px;
    left: 0;
    width: 100%;
    transition: all 0s;
    font-size: 16px;
    font-weight: bold;

    &:focus {
      width: 100%;
      border-color: var(--search-border-highlight-color);
    }
  }

  .suggestions {
    z-index: 999;

    li {
      a {
        text-decoration: none !important;
      }
    }
  }
}

// Loading spinner
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader::after {
  content: " ";
  display: block;
  width:40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: var(--text-color) transparent var(--text-color) transparent;
  animation: loader-animation 1.2s linear infinite;
}
@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Media query for mobile
@media (max-width: 719px) {
  .desktop-hide {
    display: block !important;
  }

  .mobile-hide {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .content__default,
  .page-nav,
  .page-edit {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
