@import './vars';
@import './reset';
@import './custom-blocks';
@import './typography';
@import './wrapper';
@import './code';
@import './pages';

html {
  scroll-behavior: smooth;
}

html, body {
  min-width: 320px;
}

html, body, #app, .theme-container {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

ol, ul {
  margin-left: 15px;
}

a {
  &.header-anchor {
    font-size: 0.85em;
    margin-left: -0.75em;
    margin-top: 0.1em;
    text-decoration: none !important;
    opacity: 0;
    float: left;
  }

  &, &:link {
    cursor: pointer;
    transition: 0.25s color;

    &:hover {
      transition: 0.25s color;
    }
  }
}

.desktop-hide {
  display: none !important;
}

.no-result {
  color: var(--accent-color);
}

hr {
  border: 0;
  border-top: 1px solid var(--table-border-color);
}

em {
  font-style: italic;
}

img {
  user-select: none;

  &.avatar {
    max-width: 100px !important;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
  }

  &[alt='logo'] {
    max-width: 275px !important;
    margin-left: 0;
  }

  &.img-license {
    max-width: 100px;
    margin-bottom: 15px;
  }
}

.dl-btn {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 16px;
  margin-left: 8px;

  &:first-of-type {
    margin-left: 0;
  }
}

.search-box {
  margin-right: 0;
  display: initial;

  input {
    background-color: var(--search-bg-color);
    color: var(--search-text-color);
    border-color: var(--search-border-color);
    border-width: 1px;
    padding: 0;
    padding-left: 12px;
    border-radius: 5px;
    left: 0;
    width: 100%;
    transition: all 0s;
    font-size: 16px;
    font-weight: bold;

    &:focus {
      width: 100%;
      border-color: var(--search-border-highlight-color);
    }
  }
}

.link {
  &-inline-image {
    padding-left: 20px;
    margin-left: 5px;
    background-size: 17px 17px;
    background-position: left center;
    background-repeat: no-repeat;

    &.paypal {
      background-image: url('/images/icon-paypal.svg');
    }

    &.patreon {
      background-image: url('/images/icon-patreon.svg');
    }

    &.github {
      background-image: url('/images/icon-github.svg');
    }
  }
}

.content__default {
  @extend %wrapper;
  padding: 0 4rem;

  & > * {
    max-width: var(--content-width);
  }

  & > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  & > *:hover {
    .header-anchor {
      display: none;
    }
  }
  a {
    text-decoration: underline;
    font-weight: bold !important;

    &:hover {
      text-decoration: none !important;
    }
  }
}

.loading-msg {
  font-weight: bold !important;
  font-size: 16px !important;
  color: var(--gray-color) !important;
  padding-top: 1rem;
}

.sidebar-group-items, .sidebar-sub-headers {
  .sidebar-link {
    font-size: 16px;
    font-weight: normal;

    &.active {
      position: relative;
      color: var(--accent-color);
    }
  }

  .sidebar-sub-headers {
    &:empty {
      display: none;
    }
  }
}

.accent {
  color: var(--accent-color);
}

.attribute {
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
  padding: 3px 5px;
  cursor: help;
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  overflow: hidden;
  z-index: 2;
  color: var(--dark-3-color);
  font-weight: bold;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  &.optional,
  &.decks {
    &::before {
      background-color: var(--spoiler-color);
    }
  }

  &.deprecated {
    &::before {
      background-color: var(--red-color);
    }
  }
}

.go-to-top {
  color: var(--accent-color) !important;
  right: 1rem !important;
}

@media (max-width: 719px) {
  .content__default,
  .page-nav,
  .page-edit {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .desktop-hide {
    display: block !important;
  }

  .mobile-hide {
    display: none !important;
  }
}
