strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

ul, ol {
  margin-bottom: 1.5rem;

  li {
    line-height: 1.5;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1;

  &:hover {
    a.header-anchor {
      opacity: 1;
    }
  }
}

h1 {
  font-size: 2.5rem;
  padding-top: 2rem;
}

h2 {
  font-size: 1.75rem;
  padding-top: 2rem;
}

h1, h2 {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--header-border-color);
}

h3 {
  font-size: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h5 {
  font-weight: bold;
  font-weight: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

h6 {
  font-weight: bold;
  font-size: 1rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  color: var(--yellow-color);
}

p {
  font-size: 1rem;
}

a {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
}

sup {
  font-size: .7em;
}
