strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

small {
  font-size: 14px;
  line-height: 1.3;
}

ul, ol {
  margin-bottom: 25px;

  li {
    line-height: 1.5;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1;
}

h1 {
  font-size: 2.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 {
  font-size: 1.75rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

h3 {
  font-size: 1.2rem;
  padding-top: 15px;
  padding-bottom: 15px;

  a.header-anchor {
    display: block;
    opacity: 1;
  }
}

h4 {
  font-size: 1.75rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

h5 {
  font-weight: bold;
  font-weight: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

h6 {
  font-size: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--yellow-color);
}

p {
  font-size: 16px;
}

a {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
}

sup {
  font-size: .7em;
}

.code-link {
  font-weight: bold;
}
