:root {
  // Sizes
  --sidebar-width: 300px;
  --navbar-height: 5rem;
  --content-width: 800px;
  --line-numbers-width: 20px;
  --common-radius: 5px;
  // Auxillery colors
  --yellow-color: #f1d866;
  --green-color: lightgreen;
  --red-color: salmon;
  --orange-color: #ef6c2f;
  --blue-color: #85d3ff;
  --blue-2-color: #1e90ff;
  --true-gray-color: #aaaaaa;

  --gray-color: #aaaaaa;
  --light-gray-color: #eeeeee;
  --medium-gray-color: #eaecef;
  --dark-gray-color: #2d2d2d;

  --discord-color: #7289da;
  --patreon-color: #f96753;
  --arrow-bg-color: gray;
  // Main theme colors
  --light-color: #ffffff;

  --dark-color: #263646;
  --dark-1-color: #172839;
  --dark-2-color: #0e141f;
  --dark-3-color: #000000;

  // Fonts
  --font-base: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-monospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  // --dark-color: #0e141f;
  // --darker-color: #1a2530;
  // --darkest-color: #141c24;
  --accent-color: #61c6ed;
  --spoiler-color: var(--yellow-color);
  --spoiler-text-color: var(--dark-3-color);
  --attribute-standard-color: var(--text-color);
  // Color Themes
  --text-color: var(--light-color);
  --bg-color: var(--dark-1-color);
  --bg-border-color: var(--dark-2-color);
  --bg-dark-color: var(--dark-2-color);
  --shadow-color: var(--dark-3-color);
  --blockquote-heading-color: var(--dark-color);
  --blockquote-bg-color: var(--dark-1-color);
  --search-bg-color: var(--dark-2-color);
  --search-border-color: var(--dark-1-color);
  --search-border-highlight-color: var(--accent-color);
  --search-text-color: var(--text-color);
  --light-only-dark: var(--dark-1-color);
  --supporter-bg-color: var(--light-color);
  // Data Presentation
  --table-color: var(--bg-color);
  --table-heading-color: var(--dark-1-color);
  --table-bg-color: var(--dark-color);
  --table-border-color: var(--dark-color);
  // Code colors
  --code-bg-color: var(--dark-gray-color);
  --code-text-color: var(--yellow-color);
}

body {
  background-color: var(--dark-1-color);
  color: var(--text-color);

  &.light {
    // Main Color
    --accent-color: var(--blue-2-color);
    --spoiler-text-color: var(--light-color);
    // Color Themes
    --text-color: var(--dark-1-color);
    --bg-color: var(--light-color);
    --bg-border-color: var(--light-gray-color);
    --bg-dark-color: var(--light-gray-color);
    --shadow-color: var(--medium-gray-color);
    --search-bg-color: var(--medium-gray-color);
    --search-border-color: var(--medium-gray-color);
    --search-border-highlight-color: var(--accent-color);
    --search-text-color: var(--text-color);
    --blockquote-heading-color: var(--medium-gray-color);
    --blockquote-bg-color: var(--light-color);
    --supporter-bg-color: var(--medium-gray-color);
    --attribute-standard-color: var(--dark-color);
    // Data Presentation
    --table-color: var(--text-color);
    --table-bg-color: var(--light-color);
    --table-border-color: var(--medium-gray-color);
    --table-heading-color: var(--light-color);
    --gray-color: var(--dark-gray-color);
    // Code colors
    --code-bg-color: var(--dark-gray-color);
    --code-text-color: var(--yellow-color);

    background-color: var(--bg-color);
    color: var(--text-color);
  }
}
