:root {
  // Sizes
  --sidebar-width: 280px;
  --navbar-height: 5rem;
  --content-width: 960px;
  --line-numbers-width: 20px;
  // Auxillery colors
  --yellow-color: #ffe774;
  --green-color: lightgreen;
  --red-color: salmon;
  --orange-color: #ef6c2f;
  --blue-color: #85d3ff;
  --blue-2-color: #1e90ff;

  --gray-color: #aaaaaa;
  --light-gray-color: #f6f8fa;
  --medium-gray-color: #eaecef;
  --dark-gray-color: #2d2d2d;

  --discord-color: #7289da;
  --patreon-color: #f96753;
  --arrow-bg-color: gray;
  // Main theme colors
  --light-color: #ffffff;

  --dark-color: #263646;
  --dark-1-color: #172839;
  --dark-2-color: #0e141f;
  --dark-3-color: #000000;

  // --dark-color: #0e141f;
  // --darker-color: #1a2530;
  // --darkest-color: #141c24;
  --accent-color: #61c6ed;
  --spoiler-color: var(--yellow-color);
  // Color Themes
  --text-color: var(--light-color);
  --bg-color: var(--dark-1-color);
  --bg-border-color: var(--dark-2-color);
  --bg-dark-color: var(--dark-2-color);
  --shadow-color: var(--dark-3-color);
  --blockquote-heading-color: var(--dark-color);
  --blockquote-bg-color: var(--dark-1-color);
  --search-bg-color: var(--dark-2-color);
  --search-border-color: var(--dark-1-color);
  --search-border-highlight-color: var(--accent-color);
  --search-text-color: var(--text-color);
  --light-only-dark: var(--dark-1-color);
  --supporter-bg-color: var(--light-color);
  // Data Presentation
  --table-color: var(--bg-color);
  --table-heading-color: var(--dark-1-color);
  --table-bg-color: var(--dark-color);
  --table-border-color: var(--dark-color);
  // Code colors
  --code-bg-color: var(--dark-gray-color);
  --code-text-color: var(--yellow-color);
}

body {
  &.light {
    // Main Color
    --accent-color: var(--blue-2-color);
    --yellow-color: var(--orange-color);
    // Color Themes
    --text-color: var(--dark-1-color);
    --bg-color: var(--light-color);
    --bg-border-color: var(--medium-gray-color);
    --bg-dark-color: var(--light-color);
    --shadow-color: var(--medium-gray-color);
    --search-bg-color: var(--light-color);
    --search-border-color: var(--medium-gray-color);
    --search-border-highlight-color: var(--accent-color);
    --search-text-color: var(--text-color);
    --blockquote-heading-color: var(--medium-gray-color);
    --blockquote-bg-color: var(--light-gray-color);
    --supporter-bg-color: var(--medium-gray-color);
    // Data Presentation
    --table-color: var(--text-color);
    --table-bg-color: var(--light-gray-color);
    --table-border-color: var(--light-gray-color);
    --table-heading-color: var(--medium-gray-color);
    --gray-color: var(--dark-gray-color);
    // Code colors
    --code-bg-color: #ffeeec;
    --code-text-color: #9b2e2e;

    background-color: var(--bg-color);
    color: var(--text-color);
  }
}
