$wrapper {
  max-width: $contentWidth;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;

  @media (max-width: $MQMobile) {
    & {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}
