@require './navbar'
@require './sidebar'

h2
  border-width: 0 !important;

.code-link
  font-weight: bold;

img
  user-select: none;

a,
a:link
  cursor: pointer;
  transition .25s color;

  &:hover
    transition .25s color;

.page
  & > *
    max-width: 1240px !important;
    margin-left: 0 !important;

.search-box
  margin-right: 0 !important;

.cta-btn,
.nav-link
  background-color: $codeBgColor !important;
  color: white !important;
  font-weight: bold;
  padding: 6px 15px
  border-radius: 5px;
  transition: .25s opacity;
  
  svg
    display: none !important;
    
  &:hover
    color: white;
    opacity: 0.8;
    transition: .25s opacity;


.sidebar,
.navbar
  .nav-links
    .nav-item
      &:first-of-type // Discord
        a
          background-color: #7289da !important;

      &:last-of-type // Donate
        a
          background-color: salmon !important;

img[alt='avatar']
  max-width: 100px !important;
  border-radius: 100%;
  float: left;
  margin-right: 30px;

img[alt='logo']
  max-width: 275px !important;  
  margin-left: 0;

.custom-block
  &, p
    &::before,
    &::after
      content: '';
      display: table;
      clear: both;

.page-nav
  .next,
  .prev
    a
      font-weight: bold;

      &:hover 
        text-decoration: underline;

.custom-block.tip
  border-color: $accentColor !important;

code
  background-color: $tableCodeBgColor !important;
  color: $tableCodeTextColor !important;