@keyframes pulse
  0%
    background-color: salmon;
  65%
    background-color: darken(salmon, 20%);

h2 {
  border-width: 0 !important;
}

img
  user-select: none;

a:link
  transition .25s color;

  &:hover
    transition .25s color;

.page
  & > *
    max-width: 1240px !important;
    margin-left: 0 !important;

.nav-links
  .nav-item
    margin-left: 10px !important;
    transition: .25s all;

    a // generic
      background-color: darkgray;
      transition: .25s all;

    &:hover
      opacity: 0.8;
      transition: .25s all;

    &:first-of-type // Discord
      a
        background-color: #7289da;

    &:last-of-type // Donate
      a
        background-color: salmon;
        animation: pulse 3s infinite;

.search-box
  margin-right: 0 !important;

.cta-btn,
.nav-link.external
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 6px 15px
  border-radius: 2em;
  
  &:hover
    color: white;

  svg
    display: none;

img[alt='avatar']
  max-width: 100px !important;
  border-radius: 100%;
  float: left;
  margin-right: 30px;

img[alt='logo']
  max-width: 275px !important;  
  margin-left: 0;

.custom-block
  &, p
    &::before,
    &::after
      content: '';
      display: table;
      clear: both;

.page-nav
  .next,
  .prev
    a
      font-weight: bold;

      &:hover 
        text-decoration: underline;

.sidebar
  &-group
    a.sidebar-link
      padding-left: 1.25rem !important;

    .sidebar-sub-headers
      a.sidebar-link:first-of-type
        margin-top: 10px !important;
      a.sidebar-link:last-of-type
        margin-bottom: 10px !important;

  .sidebar-links
    .sidebar-link
      // font-weight: bold !important;
      font-size: 1.1em !important;
      border-width: 0 !important;

    .sidebar-heading[href="/documentation/"]
      border-width: 0 !important;
      color: #2c3e50 !important;

    .sidebar-heading.clickable.active
      font-size: 1.1em !important;
      font-weight: bold !important;

    .sidebar-sub-headers
      padding-left: 1.25rem;

      .sidebar-sub-header
        .sidebar-link
          padding-left: 0;
        .active
          font-weight: normal !important;

.custom-block.tip
  border-color: dodgerblue !important;