.navbar
  .nav-links
    .nav-item
      margin-left: 10px !important;
      transition: .25s all;

      &:first-of-type // Discord
        a
          background-color: #7289da;

      &:last-of-type // Donate
        a
          background-color: salmon;