.sidebar
  & > .sidebar-links
    padding-bottom: 100px !important

  .active,
  .sidebar-heading:hover
    .arrow
      &.right
        border-left-color: $accentColor !important

      &.down
        border-top-color: $accentColor !important

  .arrow
    &.right
      border-left-color: $textColor !important

    &.down
      border-top-color: $textColor !important