name: Node CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install latest yarn
      run: |
        yarn policies set-version
    - name: yarn install, then test and build
      run: |
        yarn install
        yarn test:full
      env:
        CI: true
    - uses: codecov/codecov-action@v1
      name: Upload code coverage
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
