name: Generate Review Application

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: 'Build Application'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@master

    # Sets up the Node environment to build the application on
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    # Installs local dependencies needed to build, test, etc.
    - name: Install Dependencies
      run: |
        npm install

    # Runs all tests and builds the application
    - name: Build Application
      run: |
        npm run build
      env:
        CI: true

    # Upload CodeCov report to the remote server
    - uses: codecov/codecov-action@v1
      name: Upload Code Coverage
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
