i.set {
  height: 3em;
  line-height: 6em;
  width: 3em;
  float: left;
  background-repeat: no-repeat;
  margin: 1em 1.5em 2em 0em;
}

.entry-content a {
  text-decoration: none;
  border: 1px solid;
  background-color: green;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: white;
  margin-bottom: 1em;
}

td > br:last-child {
  line-height: 3;
}

i.fas {
  display: inline-block;
}

.downloads {
  padding-top: 0.3em;
}

img[alt="MTGJSON4"] {
  width: 400px;
}

#logo {
  text-align: center;
  display: block;
  margin-top: 8em;
}

.centerme {
  text-align: center;
}

.entry-content table {
  margin-left: auto;
  margin-right: auto;
}

.entry-title {
  display: none;
}

td {
  padding: 4px;
}