i.set {
  height: 3em;
  line-height: 6em;
  width: 3em;
  float: left;
  background-repeat: no-repeat;
  margin: 1em 1.5em 2em 0em;
}

.entry-content a {
  text-decoration: none;
  border: 1px solid;
  background-color: green;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: white;
  margin: 0.5em 0.25em;
  display: inline-block;
}

.classic-link a {
  border: 0;
  background-color: transparent;
  padding: 0;
  color: green;
  border-radius: 0;
  margin: 0;
}

.classic-link a:hover {
  border: 0;
  text-decoration: underline;
}

td > br:last-child {
  line-height: 3;
}

i.fas {
  display: inline-block;
}

.downloads {
  padding-top: 3em;
}

img[alt="MTGJSON4"] {
  width: 400px;
}

#logo {
  text-align: center;
  display: block;
  margin-top: 8em;
}

.splash {
  text-align: center;
  margin: 2em 0em;
}

.entry-title {
  display: none;
}

td, th {
  padding: 4px;
}

h3.users + table td a {
  background-color: transparent;
  border: 0;
  color: inherit;
}

h3.users + table tbody tr td a:hover {
  border: 0;
}

#div-bio {
  margin: 4em 0em;
}

.bio {
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 2em;
}

th, tbody tr:nth-child(even){
  background-color: #eee;
}
